.h-50 { height: 50vh; }
.h-75 { height: 75vh; }
.h-100 { min-height: 100vh; }

.h-sm {
  min-height: 300px;
  height: 33vh;
}

.h-md {
  min-height: 400px;
  height: 50vh;
}

.h-lg {
  min-height: 420px;
  height: 75vh;
}
